.menucontainer {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	height: 80%;
	overflow: auto;
}

.menubar {
	overflow: auto;
	display: flex;
	float: right;
}

.menubutton {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
	/* border: 3px solid #cfcece;
  background-color: #ffffff; */
  border-radius: 15px 15px 15px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menubutton.active {
	background-color: #4CAF50;
	color: white;
}

.menubutton:hover:not(.active) {
  background-color: #2980b9;
  color: white;
}
