
.tableSize {
 width: 100% !important;
}

.halfSize {
    width: 50% !important;
}

.smartcontract-action-button{
    display: flex;
    padding: 10px;
    text-align : left;
}

.smartcontract-number-text {

}
