.gameloader-container {
  display: flex;
  overflow: hidden;
  text-overflow: clip;
  align-items: center;
}

.gameloader-info {
  display: flex;
}

.gameloader-infoText {
  text-align: left;
  width: 20%;
  padding: 5px;
}

.gameloader-link {

}

.gameloader-info-container{
  width: -webkit-fill-available ;
}

.gameloader-image {
  margin: 0;
  width: 15%;
  margin: auto;

}

.center-button {
  margin-top: 1.25%;
}