.uploaderActions {
  margin-left: 15%;
  margin-right: 15%;
}
.upload-text-element {
  display: table;
  padding: 5px;
}

.finalUploadButton {
  width: 40% !important;
  height: 25px !important;
}

.finalUploadButtonContainer {
  padding: 10px;
  height: 50px;
}

.inputContainer {
  align-items: baseline;
  padding: 10px;
  display: flex;
}

.imageFile {
  align-items: baseline;
  display: flex;
}

.input {
  width: 100%;
}

.folderUploader {
  align-items: baseline;
  padding: 10px;
  text-align: left;
  display: flex;
}

.inputText {
  width: 20%;
  text-align: left; 
}
